*{
    margin: 0;
    padding: 0;   
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
}
.container{
    display: flex;
}
.container-thu{
    display: flex;
}
.paragraph ,ul, li{
    margin: 10px;
    color: rgb(255, 255, 255);
}
p{
    color: aqua;
}
h1{
    color: rgb(0, 0, 255);
    text-align: center;
}
table,td,th{
    border: 5px solid rgb(0, 0, 255);
    border-collapse: collapse;
    color: aqua;
}
button{
    border-radius: 5px;
    color: blue;
    margin: 15px;
    padding:10px;
    background-color: aqua;
    margin-left: 70%;
    
}